<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60551182546-mpn5o496335j5hhbibul413tmp3vbr12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60551182546-mpn5o496335j5hhbibul413tmp3vbr12</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60551182546-74fua8pb1j5hceclm941fuk3sd9aa9b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjPMPT1YBRAcLdfAWt9TIeNVIedFQS5U</string>
	<key>GCM_SENDER_ID</key>
	<string>60551182546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oficial.aquibrazil</string>
	<key>PROJECT_ID</key>
	<string>aquibrazil-40ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>aquibrazil-40ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60551182546:ios:afbdb2c1ca9c16533ad50b</string>
</dict>
</plist>
